.section-logo{
  height: 60vh;
  background-image: url("../../../assets/images/sotibarber.jpeg");
  filter: grayscale();
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  h1{
    font-size: 4rem;

    @media (width < 768px){
      font-size: 2.4rem;
    }
  }
  
}
.section-logo::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.section-logo > * {
  position: relative;
  z-index: 1;
}

.section-about{
  img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 1rem;
  }

  .btn{
    background-color: var(--color-azul);
    border: 0;
    padding: 0.5rem 1.25rem;
  
    &:hover{
      background-color: var(--color-azul);
      filter: brightness(80%);
    }
  }
}

.section-services{
  background-color: var(--color-fondo);

  img{
    width: 250px;
    border-radius: 1rem;
  }

  .btn{
    background-color: var(--color-azul);
    border: 0;
    padding: 0.5rem 1.25rem;
  
    &:hover{
      background-color: var(--color-azul);
      filter: brightness(80%);
    }
  }

}

.section-schedule{
  .information{
    background-color: var(--color-componente);
    border-radius: 20px;
    padding: 2rem;

    @media (max-width: 768px) {
      .schedule-table > div {
        width: 100%;
      }
    }

    

   
  }


}





