.section-logo{
  height: 60vh;
}

.section-about{
  .btn{
    background-color: var(--color-azul);
    border: 0;
    padding: 0.5rem 1.25rem;
  
    &:hover{
      background-color: var(--color-azul);
      filter: brightness(80%);
    }
  }
}

.section-services{

  .btn{
    background-color: var(--color-azul);
    border: 0;
    padding: 0.5rem 1.25rem;
  
    &:hover{
      background-color: var(--color-azul);
      filter: brightness(80%);
    }
  }

}

.section-schedule{
  .information{
    background-color: var(--color-componente);
    border-radius: 20px;
    padding: 2rem;

  }
}

