:root {
  --color-negro: #212121;
  --color-fondo: #3D3D3D;
  --color-componente: #282828;
  --color-azul: #607D8B;
  --color-blanco: rgb(223, 221, 221);
}

body {
    background-color: var(--color-fondo);
    color: var(--color-blanco);
}


/* var, se abre el parentesis --color */