.user-letter {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid var(--color-blanco);
  display: flex;
  align-items: center;
  justify-content: center;

}

.user-image{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  img {
    aspect-ratio: 1;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
  }
}