.service-list{
  background-color: var(--color-componente);
  padding: 1rem;
  border-radius: 20px;

  table td{
    padding: 1rem 2.5rem;
  }
  
  table tr:not(:last-child) {
    border-bottom: 1px solid var(--color-fondo);
  }

  img{
    width: 100px;
    height: 130px;
    object-fit: cover;
    border-radius: 20px;
  }

  @media(width < 500px) {
    width: 350px;
  }
}

.line-through{
  text-decoration: line-through;
}

.filter {
  all: unset;
  width: 120px; /* Fijo, suficiente para el texto más largo */
  text-align: center;
  text-decoration: none;
  color: var(--color-blanco);
  margin-inline: 1rem;

  &:hover,
  &:active {
    font-weight: bold;
  }
}

.gallery {
  @media(width < 500px) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.tabla {
  @media(width < 500px) {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}