.engloba {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100%;
}

.sectForm {
  padding-block: 3rem;
}

.cols {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formularios {
  background-color: var(--color-componente);
  border-radius: 20px;
  padding: 2rem;
  width: 500px;

  .boton {
    background-color: var(--color-azul);
    border: none;
    padding: 8px 20px;

    &:hover {
      background-color: var(--color-azul);
      /* background-color: #3e505a; */
      filter:brightness(80%)
    }
  }

  input {
    background-color: var(--color-blanco);
  }

  @media (width <= 590px) {
    width: 350px;
  }

  @media (width <= 400) {
    width: 300px;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inicio {
  color: var(--color-azul);
}

.posicion {
  position: relative;
  width: 100%;
}

.posicion {
  padding-right: 40px; /* espacio para el ícono */
  border-radius: 0.375rem;
  z-index: 1;
  position: relative;
}

.eye {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 2; /* 👈 Asegura que esté por encima */
  opacity: 0.7;
  transition: opacity 0.2s;
}

.eye:hover {
  opacity: 1;
}




