body {
  background-color: var(--color-fondo);
  color: var(--color-blanco);
}

.formRegister {
  background-color: var(--color-componente);
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
}