.table-clients {
  background-color: var(--color-componente);
  padding: 1rem;
  border-radius: 20px;
  height: 28.125rem;
  display: block; 
  width: 80rem;


}

.search-bar-wrapper {
  max-width: 350px;
  width: 100%;
}

.search-input {
  border-radius: 25px;
  padding: 10px 20px 10px 20px;
  background-color: var(--color-blanco);
  border: none;
  width: 100%;
}

.search-input:focus {
  outline: none;
  box-shadow: none;
}

.table-scroll-wrapper {
  max-height: calc(4 * 2.8rem); 
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-fondo) var(--color-componente);
  padding: 1rem;
}

table {
  width: 60rem;
  border-collapse: collapse;
  max-height: calc(4 * 2.5rem)
}

tr {
  height: 2.5rem;
  border-bottom: 1px solid var(--color-blanco);

}

td {
 
border-bottom: 1px solid var(--color-blanco);
padding: 10px 30px;
}

td:last-child {
  text-align: right;
  padding-right: 40px;
}

.btn {
  background-color: var(--color-azul);
  border: 0;
  padding: 0.5rem 1.25rem;
}

.btn:hover {
  background-color: var(--color-azul);
  filter: brightness(80%);
}
