.calendario-citas {
  width: 70vw;
}

.rbc-calendar {
  height: 90vh;
}

.rbc-toolbar > .rbc-btn-group:first-of-type {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.rbc-btn-group button {
  background-color: var(--color-negro);
  color: var(--color-blanco);
  border: none;
}

.rbc-btn-group button.rbc-active,
.rbc-btn-group button:focus,
.rbc-btn-group button:active,
.rbc-btn-group button:hover {
  background-color: var(--color-azul);
  color: var(--color-blanco);
  outline: none;
}

.rbc-toolbar-label {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-blanco);
}

@media (max-width: 768px) {
  .rbc-toolbar-label {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }
}

.rbc-day-bg {
  background-color: var(--color-componente);
  cursor: pointer;
}

.rbc-time-view,
.rbc-time-content,
.rbc-time-gutter,
.rbc-timeslot-group {
  background-color: var(--color-componente);
  cursor: pointer;
}

.rbc-time-slot {
  min-height: 2.5rem; 
  cursor: pointer;    
}

.rbc-today {
  background-color: var(--color-componente) !important;
}

.rbc-off-range-bg {
  background-color: var(--color-blanco);
}

.rbc-month-header {
  background-color: var(--color-blanco);
}

.rbc-row-content .rbc-row:nth-child(odd) .rbc-event {
  background-color: #dd9211;
}

.rbc-row-content .rbc-row:nth-child(even) .rbc-event {
  background-color: var(--color-negro);
}

.rbc-allday-cell {
  display: none;
}

.rbc-time-gutter .rbc-timeslot-group {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.rbc-time-gutter .rbc-label {
  font-weight: bold;
  color: var(--color-blanco);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: normal;
  
}

.rbc-event {
  background-color: var(--color-azul);
  color: var(--color-blanco);
  border: none;
  font-size: 0.8rem;
  padding: 0.1rem 0.5rem;
  border-radius: 0.5rem;
  max-height: 2.1rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 33.33% !important;   
  margin: 0 !important;       
  float: left; 


}

.rbc-toolbar-label {
  text-transform: lowercase;
}

.rbc-toolbar-label::first-letter {
  text-transform: uppercase;
}

.rbc-time-view {
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid var(--color-blanco);
}

.rbc-calendar {
  border-radius: 0.8rem;
  overflow: hidden;
}

.rbc-time-content,
.rbc-time-gutter,
.rbc-time-view {
  scrollbar-width: thin;
  scrollbar-color: var(--color-fondo) var(--color-componente);
}

.rbc-time-content::-webkit-scrollbar,
.rbc-time-gutter::-webkit-scrollbar,
.rbc-time-view::-webkit-scrollbar {
  width: 10px;
}

.rbc-time-content::-webkit-scrollbar-track,
.rbc-time-gutter::-webkit-scrollbar-track,
.rbc-time-view::-webkit-scrollbar-track {
  background: var(--color-componente);
}

.rbc-time-content::-webkit-scrollbar-thumb,
.rbc-time-gutter::-webkit-scrollbar-thumb,
.rbc-time-view::-webkit-scrollbar-thumb {
  background-color: var(--color-fondo);
  border-radius: 10px;
}

