.red-btn {
  background-color: rgb(141, 37, 37);
  color: #fff;
  border: none;

  &:hover {
  background-color: rgb(121, 30, 30);
  }
}

.botones {
  @media(width < 500px) {
    .boton {
      display: flex;
    }
  }
}




