.separate {
  display: flex;
  justify-content: space-between;
}

.hour {
  width: 10.9375rem;
}

.background {
  background-color: var(--color-fondo) !important;
  color: var(--color-blanco) !important;
}

.red-btn {
  background-color: rgb(141, 37, 37);
  color: #fff;
  border: none;

  &:hover {
  background-color: rgb(121, 30, 30);
  }
}

.botones {
  @media(width < 500px) {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    .boton {
      width: 150px;
    }
  }
}




