.cursor-pointer{
  cursor: pointer;
}

.table-services{
  background-color: var(--color-componente);
  padding: 2rem;
  border-radius: 20px;
  height: 25rem;
  display: block; 


  .table-scroll-wrapper{
    max-height: calc(6 * 2.6rem);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-fondo) var(--color-componente);
    padding: 1rem;
  }
  
  
  table{
    max-height: calc(4 * 2.5rem);
    tr{
      height: 2.5rem;
    }
  }

  td{

    border-block: 1px solid var(--color-blanco);
    padding: 10px 40px;

    &:nth-last-child(3){
      border: 0;
      padding-right: 0;
      padding-left: 30px; 
    }

    &:nth-last-child(2){
      border: 0;
      padding-right: 0;
      padding-left: 30px; 
    }

    &:nth-last-child(1) {
      border: 0;
      padding-right: 15px;
      padding-left: 0; 
    }

    .btn{
      background-color: var(--color-azul);
      border: 0;
      padding: 0.5rem 1.25rem;
  
      &:hover{
        background-color: var(--color-azul);
        filter: brightness(80%);
      }
    }

    

  }





  @media (max-width: 500px) {
    .table-services table {
      display: none;
    }


    .service-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #ccc;
      margin-bottom: 1rem;
      padding: 1rem;
    /*  border-radius: 8px; */
      background: var(--color-componente);
    }

    .service-card > div {
      margin-bottom: 0.5rem;
    }

    .service-card .actions {
      display: flex;
      gap: 1rem;

      .enabled{
        padding: 0;
      }
    }
  }

  span{
    font-weight: bold;
  }

  .enabled {
    .form-check-input {
      width: 2.5rem;
      height: 1.3rem;
      background-color: #ccc; 
      border: none;
      border-radius: 999px;
      cursor: pointer;

      position: relative;
      appearance: none;
      margin: 0;


      &::before {
        content: '';
        position: absolute;
        top: 0.15rem;
        left: 0.15rem;
        width: 1rem;
        height: 1rem;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease;
      }


      &:checked {
        background-color: var(--color-azul); 

        &::before {
          transform: translateX(1.2rem);
        }
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px transparent ;
      }
    }
  }
}

.form-add-service{
  background-color: var(--color-componente);
  padding: 2rem;
  border-radius: 1rem;
  

}

.modal-edit-service .modal-content{
  background-color: var(--color-componente);
  color: var(--color-blanco);
  border-radius: 20px;

}

.modal-edit-service .modal-title{
  font-family: 'Playfair';
  width: 100%;
  text-align: center;
  border-bottom: none;
}

.modal-edit-service .modal-header{
  border-bottom: none;
  
}

.modal-edit-service .btn-close{
  /* hay que hacerlo con filter porque la x es un svg */
  filter: invert(100%) sepia(100%) saturate(7500%) hue-rotate(180deg);
  
}


.modal-edit-service .modal-body{
  input, textarea{
    background-color: var(--color-blanco);
  }
  span{
    background-color: var(--color-blanco);
    filter: brightness(80%);
  }
}

.modal-edit-service .modal-footer{
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: center;

}

.form-create-service {
  background-color: var(--color-componente);
  color: var(--color-blanco);
  padding: 2rem;
  border-radius: 1.25rem;
  width: 31.25rem;

  input, textarea{
    background-color: var(--color-blanco);
  }

  .btn{
    background-color: var(--color-azul);
    border: 0;
    padding: 0.5rem 1.25rem;

    &:hover{
      background-color: var(--color-azul);
      filter: brightness(80%);
    }
  }
}




