.form-editUser{
    background-color: var(--color-componente);
  border-radius: 20px;
  padding: 2rem;
  width: 500px;

  .boton {
    background-color: var(--color-azul);
    border: none;
    padding: 8px 20px;

    &:hover {
      background-color: var(--color-azul);
      /* background-color: #3e505a; */
      filter:brightness(80%)
    }
  }

  input {
    background-color: var(--color-blanco);
  }
}