.navPublic {
  background-color: var(--color-negro);

  Button {
    background-color: transparent;
    border: 2px solid var(--color-blanco);

    &:hover {
      background-color: var(--color-azul);
      border: 2px solid var(--color-blanco);
    }
  }

  .navbar-brand {
    color: var(--color-blanco);
    cursor: pointer;

    &:hover,
    &.active {
      color: var(--color-azul);
    }

    img {
      width: 100px;
      object-fit: contain;
      object-position: center;
      filter: invert(1);
    }
  }

  a,
  .navbar-toggler-icon,
  .nav-link {
    color: var(--color-blanco);
    text-decoration: none;

    &:hover,
    &.active {
      color: var(--color-azul);
    }
  }

  .navbar-toggler-icon {
    filter: invert(1);
  }
}

@media (max-width: 991.98px) {
  .custom-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
